body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px;
    margin: 0;
    margin-top: -25px;
    height: 80px;
    background: linear-gradient(rgb(16, 16, 86), rgb(16, 16, 198), rgb(19, 19, 44))
    
}
h1 {
    text-align: center;
    color: rgb(245, 207, 207);
}

.container {
    margin: 0 auto;
    height: 500px;
    width: 500px;
    border: 5px solid rgb(136, 26, 26);
    
    box-shadow: 0 0 20px 0 rgba(214,16,16,0.6);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.box {
    margin:0px;
    border: 1px solid grey;
    cursor:crosshair;
    background-color: white;
    transition: background-color 0.2s;
}

.box.hovered {
    background-color: black;
}
